@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.link {
  border: 0.15em dotted var(--color-border);
  text-decoration: none;
  color: var(--color-text);
}

@media (hover: hover) {
  .link:hover {
    border: 0.15em dotted var(--color-border-hover);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
