@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.link {
  border: var(--border-size) dotted var(--border-color);
  text-decoration: none;
  color: var(--color-text);
}

.link-active {
  border: var(--border-size) dotted var(--border-color-hover);
}

@media (hover: hover) {
  .link:hover {
    border: var(--border-size) dotted var(--border-color-hover);
  }
}
