/*
primary: #5AA06B
light accent: #9E876D
dark accent: #726267
light shades: #FFFFFF
dark shades: #2C3140
*/

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#main {
    width: auto;
    height: 100vh;
    padding: 0.5em;
    margin: auto;
}

#title {
    height: 11%;
    text-align: center;
    padding-top: 1em;
}

#menu {
    height: 10%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu img{
    height: 2em;
}

#tabs {
    height: 79%;
}

#item-list {
    height: 100%;
}

#item-list .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-bottom: 0.15em dotted #2C3140;
    --bs-gutter-x: 0;
}

.item {
    font-weight: bold;
}

.item a {
    color: #9E876D;
    text-decoration: none;
}

.item span {
    font-weight: initial;
}

.price {
    padding-right: 0.3em;
    display: flex;
    justify-content: right;
    font-weight: bold;
}

.unit-weight span {
    font-style: italic;
    font-weight: initial;
}

#item-list .row.hidden,
#calendar .row.hidden {
    height: 0%;
    border-bottom: 0.15em dotted #2C3140;
}

#calendar {
    overflow-x: auto;
    height: 100%;
}

h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

#calendar .row {
    height: 12%;
    border-bottom: 0.15em dotted #2C3140;
    --bs-gutter-x: 0;
}

.day {
    font-weight: bold;
    height: 100%;
    border-left: 0.15em dotted #2C3140;
    border-right: 0.15em dotted #2C3140;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order {
    height: 100%;
    width: fit-content;
    background-color: #FFFFFF;
    border-right: 0.15em dotted #2C3140;
    
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Boostrap override */
.nav-pills .nav-link.active {
    background-color: #FFFFFF;
    color: #9E876D;
    font-weight: bold;
    border: 0.15em dotted #9E876D;
}

.nav-item .nav-link {
    border-radius: 0px;
    color: #2C3140;
    font-weight: bold;
    border: 0.15em dotted #2C3140;
}

.nav-item-hidden {
    margin: 0.5em;
}